@import url(https://fonts.googleapis.com/css?family=Open+Sans);

$transition: 0.3s all ease;
$default-color: rgb(86, 114, 204);
$default-color-hover: rgb(54, 83, 179);
$red-color: rgb(219, 126, 126);
$red-color-hover: rgb(206, 107, 107);
$gray-color: #ccc;

body {
  font-family: 'Open Sans', sans-serif;
  padding: 0;
  margin: 0;
}

input,
button {
  padding: 10px;
  border: none;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  background-color: $default-color;
  color: white;

  &:hover {
    background-color: $default-color-hover;
  }
}

input:focus {
  outline: none;
  border-color: $default-color !important;
}

.container {
  width: 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.channels {
  flex-grow: 1;
  overflow: overlay;
  white-space: nowrap;

  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $default-color;
    &:hover {
      background-color: $default-color-hover;
    }
  }

  .channel {
    border-bottom: 1px solid $gray-color;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .link {
      overflow: hidden;
      text-overflow: ellipsis;
      flex-grow: 1;
      padding: 0 10px;
    }

    .delete-btn {
      padding: 5px;
      margin: 0 5px;
      background-color: $red-color;

      &:hover {
        background-color: $red-color-hover;
      }
    }
  }
}

.color-circle {
  border: 1px solid $gray-color;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
  cursor: pointer;
}

.search {
  border-bottom: 3px solid $gray-color;
}

.add-btn {
  width: 100%;
  border: 1px solid $default-color;
}

.input-form {
  display: flex;

  .link-input {
    flex-grow: 1;
    border-top: 2px solid $gray-color;
  }

  button {
    width: 37px;
    padding: 0;

    &.ok {
      background-color: rgb(19, 173, 19);

      &:hover {
        background-color: rgb(16, 126, 16);
      }
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;

  &.modal-colors {
    button {
      width: 100%;
    }
  }

  &__content {
    background-color: white;

    &_label {
      text-align: center;
      padding: 15px;

      h3 {
        margin: 0;
      }
    }

    &_buttons {
      display: flex;

      button {
        width: 50%;

        &.cancel-btn {
          background-color: $red-color;

          &:hover {
            background-color: $red-color-hover;
          }
        }
      }
    }

    &_colors {
      display: flex;

      .color-circle {
        margin: 5px;
      }
    }
  }
}

.error {
  text-align: center;
  font-size: 1rem;
  color: white;
  padding: 5px;
  background-color: $red-color;
  cursor: pointer;
}
